body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CourseCard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Course  h2{
  margin-left: 10px;
}

.CourseDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CourseDescription a {
  text-decoration: none;
}

.Admin {
  display: flex;
  flex-direction: row;
}

.Admin .CourseSelect {
  display: flex;
  flex: 1;
}

.Admin .CourseSelect {
  display: flex;
  flex: 5;
}

.Admin .course-select {
  flex: 1;
  height: 70vh;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.Admin .lesson-select {
  width: 100%;
  height: 70vh;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.lesson-select-container {
  flex: 3;
  height: 70vh;

  position: relative;

}

.AddButton {
  position: absolute;
  top: 66vh;
  right: 50%;
}




